.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .grid-container > div {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }
  .grid-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }